.digit {
  width: 11.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2px;
  --bgcolor: #e05b39;
}

.digit__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.digit__block_disable {
  --bgcolor: #FFFFFF;
  opacity: .25;
}

.digit__block {
  position: relative;
  background-color: var(--bgcolor);
}

.digit__block::after, .digit__block::before {
  position: absolute;
  content: '';
  border: 1em solid transparent;
}

/*вертикальные блоки*/
.digit__block_vertical {
  padding: 1em;
  height: 5em;
}

.digit__block_vertical::after {
  left: 0;
  top: -2em;
}

.digit__block_vertical::before {
  left: 0;
  bottom: -2em;
}

/*горизонтальные блоки*/
.digit__block_horizontal {
  padding: 1em;
  width: 5em;
}

.digit__block_horizontal::after {
  left: -2em;
  top: 0;
}

.digit__block_horizontal::before {
  right: -2em;
  top: 0;
}

/*горизонтальные блоки - углы*/
.digit__block_top {

}

.digit__block_top::after {
  border-right: 1em solid var(--bgcolor);
  border-top: 1em solid var(--bgcolor);
}

.digit__block_top::before {
  border-left: 1em solid var(--bgcolor);
  border-top: 1em solid var(--bgcolor);
}

.digit__block_middle {

}

.digit__block_middle::before {
  border-left: 1em solid var(--bgcolor);
}

.digit__block_middle::after {
  border-right: 1em solid var(--bgcolor);
}

.digit__block_bottom {

}

.digit__block_bottom::after {
  border-right: 1em solid var(--bgcolor);
  border-bottom: 1em solid var(--bgcolor);
}

.digit__block_bottom::before {
  border-left: 1em solid var(--bgcolor);
  border-bottom: 1em solid var(--bgcolor);
}

/*вертикальные блоки - углы*/
.digit__block_left-top {

}

.digit__block_left-top::after {
  border-left: 1em solid var(--bgcolor);
  border-bottom: 1em solid var(--bgcolor);
}

.digit__block_left-top::before {
  border: 1em solid transparent;
  border-top: 1em solid var(--bgcolor);
}

.digit__block_left-bottom {

}

.digit__block_left-bottom::after {
  border-bottom: 1em solid var(--bgcolor);
}

.digit__block_left-bottom::before {
  border-left: 1em solid var(--bgcolor);
  border-top: 1em solid var(--bgcolor);
}

.digit__block_right-top {

}

.digit__block_right-top::after {
  border-right: 1em solid var(--bgcolor);
  border-bottom: 1em solid var(--bgcolor);
}

.digit__block_right-top::before {
  border-top: 1em solid var(--bgcolor);
}

.digit__block_right-bottom {

}

.digit__block_right-bottom::after {
  border-bottom: 1em solid var(--bgcolor);
}

.digit__block_right-bottom::before {
  border-top: 1em solid var(--bgcolor);
  border-right: 1em solid var(--bgcolor);
}


