@import url('../blocks/header/header.css');
@import url('../blocks/score/score.css');
@import url('../blocks/digit/digit.css');
@import url('../blocks/settings/settings.css');
@import url('../blocks/buttons/buttons.css');
@import url('../blocks/field/field.css');

.page {
  width: 100%;
  margin: 0 auto;
  min-width: 440px;
}


